.topbar {
  width: 100%;
  height: 3rem;
  background-color: #a8cd9f;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resume {
  font-family: lora;
  display: flex;
  align-items: center;
}

.name-intro {
  text-align: center;
  margin-top: 5rem;
}
/* typing animation */
.typist-container {
  display: inline-block;
}
.typist-text {
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
  animation-delay: 1s;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.about-me{
    text-align: center;
}
.quote-container {
  text-align: end;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mailto {
  text-decoration: none;
  color: #a8cd9f;
  align-self: center;
}
