@font-face {
  font-family: assasin;
  src: url(/src/assets/Assassin$.ttf);
}
@font-face {
  font-family: cavier;
  src: url(/src/assets/Helvetica.ttf);
}
@font-face {
  font-family: play;
  src: url(/src/assets/PlayfairDisplay-Black.ttf);
}
@font-face {
  font-family: baker;
  src: url(/src/assets/BASKVILL.TTF);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  font-family: assasin;
  cursor: pointer;
}
h3 {
  font-family: assasin;
  cursor: pointer;
}
p, h4{
  font-family: assasin;
}

h1:hover {
  color: pink;
}

.dark-mode button {
  background-color: #1a2133;
}

.dark-mode {
  background-color: #011826;
}

.dark-mode h1 {
  color: #fff;
}
.dark-mode h4 {
  color: #fff;
}
.dark-mode p {
  color: #fff;
}
.dark-mode span {
  color: #fff;
}
.main-link {
  width: 40%;
  height: 40px;
  border-radius: 10px;
}

.link-div {
  width: 550px;
  margin-top: 20px;
}
span {
  border-radius: 10px;
  backdrop-filter: blur(3px);
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: start;
  background-color: #e0e3f4;
  margin: 10px;
  transition: 0.3s;
  padding: 15px;
  font-family: assasin;
}
span:hover {
  border-color: blue;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: assasin;
  background-color: #1a1a1a;
  backdrop-filter: blur(3px);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background: rgba(236, 232, 232, 0.5);
    backdrop-filter: blur(3px);
  }
}

.light {
  background-color: #fff;
}
.dark {
  background-color: #011826;
}
.black {
  color: #fff;
}
.white {
  color: black;
}

.about-me {
  padding: 0 5%;
}
.skill-button {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: start;
  margin: 10px;
  transition: 0.3s;
  padding: 15px;
  cursor: pointer;
}

.language {
  font-size: 16px;
  padding-left: 10px;
}

.my-pic {
  width: 15%;
  height: 100%;
  border-radius: 50px 50px 10px 10px;
  background-image: url(/src/assets/pic.png);
  background-size: cover;
  background-position: center;
}

.topper {
  display: flex;
  height: 30dvh;
  width: 70%;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .topper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80dvh;
  }
  .skill-button {
    width: 40%;
    margin: 3%;
    margin-bottom: 12.5px;
  }
  .my-pic {
    width: 80%;
    height: 100%;
    border-radius: 50px 50px 10px 10px;
    background-image: url(/src/assets/pic.png);
    background-size: cover;
  }
  .skill-span {
    width: 35%;
    margin: 3%;
    margin-bottom: 12.5px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .skill-button {
    width: 44%;
    margin: 3%;
    margin-bottom: 12.5px;
  }
  .topper {
    display: flex;
    margin: 3%;
    height: 30dvh;
  }
  .my-pic {
    width: 50%;
    height: 100%;
    border-radius: 50px 50px 10px 10px;
    background-image: url(/src/assets/pic.png);
    background-size: cover;
    background-position: center;
  }
  .skill-span {
    width: 35%;
    margin: 3%;
    margin-bottom: 12.5px;
  }
  .link-div {
    width: 40%;
    margin-top: 20px;
  }
}
