@font-face {
  font-family: assasin;
  src: url(/src/assets/3.ttf);
}
@font-face {
  font-family: lora;
  src: url(/src/assets/Candarab.ttf);
}
@font-face {
  font-family: code;
  src: url(/src/assets/chintzy.ttf);
}
.number{
  font-family: lora;
  margin-right: 5px;
  color: #64ffda;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #112240;
}
.sections{
  margin-top: 80px;
}
.active{
  color: #64ffda;
  transform: scale(1.1);
}
.fade-in-section{
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out, visibility 0.6s;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible{
  opacity: 1;
  transform: none;
  visibility: visible;
}
.line {
  width: 7rem;
  height: 1px;
  background-color: #fff;
}
.horizontal-line {
  width: 1px;
  height: 5rem;
  background-color: #64ffda;
}
.top-bar {
  width: 100%;
  height: 3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #112240;
  z-index: 999999;
}
.link-to-section-container {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.link-to-section {
  height: 3.5rem;
  width: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-name{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.link-to-section:hover {
  transform: scale(1.1);
}
.links-to-socials {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-icon {
  display: none;
}
.social-icon {
  width: 10rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon:hover {
  transform: scale(1.1);
}
h1 {
  font-family: code;
  font-weight: lighter;
  cursor: pointer;
}
h4 {
  font-family: lora;
}
p {
  font-size: 1.3rem;
  font-family: code;
}
span {
  color: white;
}
button {
  color: #fff;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #1b3666;
  border: solid 0.01px #64ffda;
  transition: transform 1s;
}
button:hover {
  transform: scale(1.1);
}
.main-page {
  width: 100%;
  background-color: #112240;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.home {
  width: 80%;
  background-color: #112240;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 5.5rem;
  padding: 0 10%;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.gif-image {
  width: 20rem;
  border-bottom: solid 3px #64ffda;
}
.typist-container {
  display: inline-block;
}
.typist-text {
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
  animation-delay: 1s;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.quick-bio {
  padding: 0  10% 0 0;
  text-align: start;
  font-family: lora;
}
.quick-bio b {
  color: #64ffda;
}
.dm-me {
  display: flex;
  align-items: center;
}
.dm-me:hover {
  transform: scale(1.1);
  color: #64ffda;
}
.quote {
  width: 100%;
  height: 40dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.quote-text {
  font-family: lora;
}
.quote-name {
  color: #64ffda;
}
.about-me-head {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: start;
}
.full-bio {
  text-align: start;
  font-family: lora;
  font-weight: lighter;
  width: 100%;
}
.full-bio b {
  color: #64ffda;
}
.stack-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.stack-wrapper {
  width: 20rem;
}
.tech-stack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: start;
}
.tech-stack:hover {
  color: #64ffda;
  transform: scale(1.1);
}
.bullet {
  display: flex;
  align-items: center;
}
.stack-name {
  margin-left: 10px;
  font-size: 16px;
  font-family: lora;
}
.projects-container{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
    justify-content: space-between;
}
.project-card{
  width: 23rem;
  height: 24rem;
  background-color: #1b3666;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.project-card:hover{
  transform: scale(1.03);
}
.project-content{
  padding: 0 20px;
  font-family: code;
  font-weight: lighter;
}
.project-content2{
  padding: 0 20px;
  font-family: lora;
}
.project-gif{
  height: 60%;
  border-radius: 10px 10px 0 0;
}
.credits-part{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .gif-image {
    width: 15rem;
  }
  .top-bar {
    justify-content: space-around;
    width: 100%;
  }
  .link-to-section-container {
    width: 100%;
  }
  .links-to-socials {
    display: none;
  }
  .social-icon {
    width: 20%;
  }
  .quick-bio{
    padding: 0;
  }
  .stack-container {
    justify-content: center;
  }
  .stack-wrapper{
    width: 100%;
  }
  p {
    font-size: 1rem;
  }
  .project-card{
    width: 90%;
    margin: 5%;
  }
}
