@font-face {
  font-family: lora;
  src: url(/src/assets/JosefinSans-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
p,
li {
  font-family: lora;
}
span {
  color: #a8cd9f;
}
.container {
  width: 100%;
}
.content {
  width: 80%;
  padding: 0 10%;
}
button {
  background-color: #c7f3bc8c;
  border-radius: 5px;
  border: solid 0.1px #a8cd9f;
  padding: 10px;
  box-shadow: 1px 1px 1px;
}
button:hover {
  background-color: #a8cd9f;
}