@font-face {
  font-family: assasin;
  src: url(/src/assets/Assassin$.ttf);
}
@font-face {
  font-family: lora;
  src: url(/src/assets/lora.ttf);
}
@font-face {
  font-family: code;
  src: url(/src/assets/chintzy.ttf);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #112240;
}
.line {
  width: 7rem;
  height: 1px;
  background-color: #fff;
}
.horizontal-line {
  width: 1px;
  height: 5rem;
  background-color: #64ffda;
}
.top-bar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #112240;
}
.link-to-section-container {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.link-to-section {
  height: 3.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.link-to-section:hover {
  color: pink;
  transform: scale(1.1);
}
.links-to-socials {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-icon {
  display: none;
}
.social-icon {
  width: 10rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon:hover {
  transform: scale(1.1);
}
h1 {
  font-family: code;
  font-weight: lighter;
  cursor: pointer;
}
h4 {
  font-family: lora;
}
p {
  font-size: 1.3rem;
  font-family: code;
}
span {
  color: #64ffda;
}
.main-page {
  width: 100%;
  background-color: #112240;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.home {
  width: 100%;
  background-color: #112240;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gif-image {
  width: 20rem;
}
.typist-container {
  display: inline-block;
}
.typist-text {
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
  animation-delay: 2s;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.quick-bio {
  padding: 0 15%;
  text-align: center;
  font-family: lora;
}
.quick-bio b {
  color: #64ffda;
}
.dm-me {
  display: flex;
  align-items: center;
}
.dm-me:hover {
  transform: scale(1.1);
  color: pink;
}
.quote {
  width: 80%;
  height: 40dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.quote-text {
  font-family: lora;
}
.quote-name {
  color: #64ffda;
}
.about-me-head {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: start;
  padding: 0 10%;
}
.full-bio {
  padding: 0 10%;
  text-align: start;
  font-family: lora;
  font-weight: lighter;
  width: 80%;
}
.full-bio b {
  color: #64ffda;
}
.stack-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.stack-wrapper {
  width: 20rem;
}
.tech-stack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: start;
}
.tech-stack:hover {
  color: #64ffda;
  transform: scale(1.1);
}
.bullet {
  display: flex;
  align-items: center;
}
.stack-name {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .gif-image {
    width: 15rem;
  }
  .top-bar {
    justify-content: space-between;
    width: 100%;
  }
  .link-to-section-container {
    display: none;
  }
  .links-to-socials {
    width: 30%;
    justify-content: end;
  }
  .social-icon{
    width: 20%;
  }
  #menu-icon {
    display: initial;
    width: 10%;
  }
  .stack-container {
    justify-content: center;
  }
  p {
    font-size: 1rem;
  }
}
